## 1.2. Preprocessing weather indexes

In [2]:
library("tidyverse")
library("weathercan")
library("lubridate") # yday(), ymd()
library("Amelia")

Attaching package: 'lubridate'


The following object is masked from 'package:base':

    date


Loading required package: Rcpp

##
## Amelia II: Multiple Imputation
## (Version 1.7.6, built: 2019-11-24)
## Copyright (C) 2005-2020 James Honaker, Gary King and Matthew Blackwell
## Refer to http://gking.harvard.edu/amelia/ for more information
##

Load the data frame processed in previous file `1.1_preprocessing-1.ipynb`.

In [2]:
data_df <- read.csv('output/balanced_potato_df.csv')

### Compute 5 years (mean or total) weather indices 

Because the process is long, you can load `data_stations.csv` file and make a left join with `data_df` using "Annee", "LatDD", "LonDD", "DatePlantation", and "DateRecolte" as common features.

In [3]:
data_stations = read_csv("output/weather_stations.csv")

Parsed with column specification:
cols(
  Annee = col_double(),
  LatDD = col_double(),
  LonDD = col_double(),
  DatePlantation = col_date(format = ""),
  DateRecolte = col_date(format = ""),
  station_id = col_double(),
  temp_moy_5years = col_double(),
  prec_tot_5years = col_double(),
  sdi_5years = col_double(),
  gdd_5years = col_double()
)

Custom fonctions

In [4]:
# shannon diversity index
SDI_f <- function(x) { 
  p <- x/sum(x, na.rm = TRUE)
  SDI <- sum(p * log(p), na.rm = TRUE) / log(length(x))
  return(SDI)
}
# growing degree-days
GDD_f <- function(x, delim = 5) {
  sum(x[x >= delim], na.rm = TRUE)
}

Create a data frame for computations

In [5]:
data_df$DatePlantation <- ymd(data_df$DatePlantation)
data_df$DateRecolte <- ymd(data_df$DateRecolte)

Warning message:
" 1 failed to parse."Warning message:
" 1 failed to parse."

If you've loaded the `weather_stations.csv`, from here, you coud jump to the fith code chaine from the end (insertion into the main table).

In [7]:
data_stations <- data_df %>%
  distinct(Annee, LatDD, LonDD, DatePlantation, DateRecolte) %>%
  filter(!is.na(Annee))
glimpse(data_stations)

Observations: 323
Variables: 5
$ Annee          <int> 2003, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2005...
$ LatDD          <dbl> 46.75306, 46.76444, 48.79722, 48.79722, 48.79722, 48...
$ LonDD          <dbl> -72.33861, -72.33083, -72.24250, -72.24250, -72.2425...
$ DatePlantation <date> 2003-05-19, 2004-05-30, 2004-05-31, 2004-06-05, 200...
$ DateRecolte    <date> 2003-09-17, 2004-09-27, 2004-09-20, 2004-09-15, 200...

Impute missing dates if year is recorded

In [8]:
# Check missing dates
data_stations %>%
  filter(is.na(DatePlantation))

   Annee LatDD    LonDD     DatePlantation DateRecolte
1  2011  46.02889 -73.65111 <NA>           <NA>
2  1992  48.55000 -71.33333 <NA>           <NA>
3  1993  48.55000 -71.33333 <NA>           <NA>
4  1995  46.10487 -72.24634 <NA>           1995-09-10
5  1996  46.10487 -72.24634 <NA>           1996-09-11
6  1996  46.10903 -72.38530 <NA>           1996-09-11
7  1996  46.45472 -72.70722 <NA>           1996-09-11
8  1987  46.45472 -72.70722 <NA>           1987-09-10
9  1988  46.45472 -72.70722 <NA>           1988-09-11
10 1989  46.45472 -72.70722 <NA>           1989-09-10
11 1990  46.45472 -72.70722 <NA>           1990-09-10

In [9]:
# Check missing dates
data_stations %>%
  filter(is.na(DateRecolte))

  Annee LatDD    LonDD     DatePlantation DateRecolte
1 2011  46.02889 -73.65111 <NA>           <NA>
2 1992  48.55000 -71.33333 <NA>           <NA>
3 1993  48.55000 -71.33333 <NA>           <NA>

In [10]:
data_stations_imp <- data_stations %>%
                          mutate(DatePlantation_yd = yday(DatePlantation), # yday = year day
                                 DateRecolte_yd = yday(DateRecolte))

data_stations_imp <- amelia(x = data_stations_imp %>%
                         select(Annee, LatDD, LonDD, DatePlantation_yd, 
                                DateRecolte_yd), m=1)$imputations[[1]]

-- Imputation 1 --

  1  2  3

In [11]:
data_stations_imp$Annee <- as.Date(paste0(data_stations_imp$Annee, "-01-01"))

data_stations$DatePlantation <- data_stations_imp$Annee + data_stations_imp$DatePlantation_yd - 1
data_stations$DateRecolte <- data_stations_imp$Annee + data_stations_imp$DateRecolte_yd - 1

In [12]:
data_stations$DatePlantation <- as.Date(data_stations$DatePlantation)
data_stations$DateRecolte <- as.Date(data_stations$DateRecolte)

Load data from Environnement Canada (weathercan)

In [12]:
year_step <- 5 # start 5 years preceeding trial year
data_stations$station_id <- NA # identify weather stations
station_weather <- list() # list of weather stations containning climate data

for (i in 1:nrow(data_stations)) {
  print(paste(i, "/", nrow(data_stations), '...'))
  
  # identify the nearest station. Search for stations by name or location
  all_stations <- stations_search(coords = c(data_stations$LatDD[i], 
                                             data_stations$LonDD[i]),  
                                  interval = "day",
                                  dist = 500)
  annee <- data_stations$Annee[i]
  
  # Available station for nearest year
  closest_station <- all_stations %>%
                        filter(start <= annee - year_step) %>%
                        filter(end >= annee) %>%
                        slice(which.min(distance))

  data_stations$station_id[i] <- closest_station$station_id %>% 
                                      as.character() %>% 
                                      as.numeric()
  
  print(paste("Station id:", data_stations$station_id[i]))
  
  # # Download weather data from Environment Canada of the station identified
  station_weather[[i]] <- weather_dl(station_ids = data_stations$station_id[i], 
                                     start = as.Date(paste0(annee - year_step, "-01-01")),
                                     end = as.Date(paste0(annee, "-01-01")),
                                     interval = "day")
  
  print(paste(i, "/", nrow(data_stations)))
}
# name of the list elements
names(station_weather) <- as.character(data_stations$station_id)

[1] "1 / 323 ..."
[1] "Station id: 5203"
[1] "1 / 323"
[1] "2 / 323 ..."
[1] "Station id: 5203"
[1] "2 / 323"
[1] "3 / 323 ..."
[1] "Station id: 5929"
[1] "3 / 323"
[1] "4 / 323 ..."
[1] "Station id: 5929"
[1] "4 / 323"
[1] "5 / 323 ..."
[1] "Station id: 5929"
[1] "5 / 323"
[1] "6 / 323 ..."
[1] "Station id: 5929"
[1] "6 / 323"
[1] "7 / 323 ..."
[1] "Station id: 5929"
[1] "7 / 323"
[1] "8 / 323 ..."
[1] "Station id: 5929"
[1] "8 / 323"
[1] "9 / 323 ..."
[1] "Station id: 5203"
[1] "9 / 323"
[1] "10 / 323 ..."
[1] "Station id: 5203"
[1] "10 / 323"
[1] "11 / 323 ..."
[1] "Station id: 5222"
[1] "11 / 323"
[1] "12 / 323 ..."
[1] "Station id: 5222"
[1] "12 / 323"
[1] "13 / 323 ..."
[1] "Station id: 5222"
[1] "13 / 323"
[1] "14 / 323 ..."
[1] "Station id: 5929"
[1] "14 / 323"
[1] "15 / 323 ..."
[1] "Station id: 5255"
[1] "15 / 323"
[1] "16 / 323 ..."
[1] "Station id: 5929"
[1] "16 / 323"
[1] "17 / 323 ..."
[1] "Station id: 5255"
[1] "17 / 323"
[1] "18 / 323 ..."
[1] "Station id: 5255"
[1] "18 / 323"
[1] "19 / 323 ..."
[1] "Station id: 5929"
[1] "19 / 323"
[1] "20 / 323 ..."
[1] "Station id: 5222"
[1] "20 / 323"
[1] "21 / 323 ..."
[1] "Station id: 5255"
[1] "21 / 323"
[1] "22 / 323 ..."
[1] "Station id: 5929"
[1] "22 / 323"
[1] "23 / 323 ..."
[1] "Station id: 5222"
[1] "23 / 323"
[1] "24 / 323 ..."
[1] "Station id: 5251"

Some variables have non-numeric values (spd_max_gust), for stations: 5251

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "24 / 323"
[1] "25 / 323 ..."
[1] "Station id: 5447"
[1] "25 / 323"
[1] "26 / 323 ..."
[1] "Station id: 5255"
[1] "26 / 323"
[1] "27 / 323 ..."
[1] "Station id: 5929"
[1] "27 / 323"
[1] "28 / 323 ..."
[1] "Station id: 5393"
[1] "28 / 323"
[1] "29 / 323 ..."
[1] "Station id: 5222"
[1] "29 / 323"
[1] "30 / 323 ..."
[1] "Station id: 5929"
[1] "30 / 323"
[1] "31 / 323 ..."
[1] "Station id: 5929"
[1] "31 / 323"
[1] "32 / 323 ..."
[1] "Station id: 5929"
[1] "32 / 323"
[1] "33 / 323 ..."
[1] "Station id: 5929"
[1] "33 / 323"
[1] "34 / 323 ..."
[1] "Station id: 5929"
[1] "34 / 323"
[1] "35 / 323 ..."
[1] "Station id: 5929"
[1] "35 / 323"
[1] "36 / 323 ..."
[1] "Station id: 5929"
[1] "36 / 323"
[1] "37 / 323 ..."
[1] "Station id: 5929"
[1] "37 / 323"
[1] "38 / 323 ..."
[1] "Station id: 5929"
[1] "38 / 323"
[1] "39 / 323 ..."
[1] "Station id: 5929"
[1] "39 / 323"
[1] "40 / 323 ..."
[1] "Station id: 5929"
[1] "40 / 323"
[1] "41 / 323 ..."
[1] "Station id: 5929"
[1] "41 / 323"
[1] "42 / 323 ..."
[1] "Station id: 5929"
[1] "42 / 323"
[1] "43 / 323 ..."
[1] "Station id: 5929"
[1] "43 / 323"
[1] "44 / 323 ..."
[1] "Station id: 5929"
[1] "44 / 323"
[1] "45 / 323 ..."
[1] "Station id: 5929"
[1] "45 / 323"
[1] "46 / 323 ..."
[1] "Station id: 5459"
[1] "46 / 323"
[1] "47 / 323 ..."
[1] "Station id: 5222"
[1] "47 / 323"
[1] "48 / 323 ..."
[1] "Station id: 5222"
[1] "48 / 323"
[1] "49 / 323 ..."
[1] "Station id: 5222"
[1] "49 / 323"
[1] "50 / 323 ..."
[1] "Station id: 5315"
[1] "50 / 323"
[1] "51 / 323 ..."
[1] "Station id: 5315"
[1] "51 / 323"
[1] "52 / 323 ..."
[1] "Station id: 5806"
[1] "52 / 323"
[1] "53 / 323 ..."
[1] "Station id: 5806"
[1] "53 / 323"
[1] "54 / 323 ..."
[1] "Station id: 5806"
[1] "54 / 323"
[1] "55 / 323 ..."
[1] "Station id: 5806"
[1] "55 / 323"
[1] "56 / 323 ..."
[1] "Station id: 5662"
[1] "56 / 323"
[1] "57 / 323 ..."
[1] "Station id: 5662"

There are no data for station 5662, in this time range (1955-01-01 to 1960-01-01), for this interval (day),
Available Station Data:
# A tibble: 3 x 14
  prov  station_name station_id climate_id WMO_id TC_id   lat   lon  elev tz
  <chr> <chr>             <int> <fct>       <int> <fct> <dbl> <dbl> <dbl> <chr>
1 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
2 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
3 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
# … with 4 more variables: interval <chr>, start <int>, end <int>,
#   normals <lgl>

[1] "57 / 323"
[1] "58 / 323 ..."
[1] "Station id: 5662"

There are no data for station 5662, in this time range (1956-01-01 to 1961-01-01), for this interval (day),
Available Station Data:
# A tibble: 3 x 14
  prov  station_name station_id climate_id WMO_id TC_id   lat   lon  elev tz
  <chr> <chr>             <int> <fct>       <int> <fct> <dbl> <dbl> <dbl> <chr>
1 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
2 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
3 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
# … with 4 more variables: interval <chr>, start <int>, end <int>,
#   normals <lgl>

[1] "58 / 323"
[1] "59 / 323 ..."
[1] "Station id: 5662"

There are no data for station 5662, in this time range (1958-01-01 to 1963-01-01), for this interval (day),
Available Station Data:
# A tibble: 3 x 14
  prov  station_name station_id climate_id WMO_id TC_id   lat   lon  elev tz
  <chr> <chr>             <int> <fct>       <int> <fct> <dbl> <dbl> <dbl> <chr>
1 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
2 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
3 QC    BAIE-COMEAU…       5662 7040440        NA NA     49.1 -68.2  21.6 Etc/…
# … with 4 more variables: interval <chr>, start <int>, end <int>,
#   normals <lgl>

[1] "59 / 323"
[1] "60 / 323 ..."
[1] "Station id: 5201"
[1] "60 / 323"
[1] "61 / 323 ..."
[1] "Station id: 5447"
[1] "61 / 323"
[1] "62 / 323 ..."
[1] "Station id: 5447"
[1] "62 / 323"
[1] "63 / 323 ..."
[1] "Station id: 5447"
[1] "63 / 323"
[1] "64 / 323 ..."
[1] "Station id: 5490"

Some variables have non-numeric values (spd_max_gust), for stations: 5490

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "64 / 323"
[1] "65 / 323 ..."
[1] "Station id: 5490"

Some variables have non-numeric values (spd_max_gust), for stations: 5490

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "65 / 323"
[1] "66 / 323 ..."
[1] "Station id: 5490"

Some variables have non-numeric values (spd_max_gust), for stations: 5490

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "66 / 323"
[1] "67 / 323 ..."
[1] "Station id: 5490"

Some variables have non-numeric values (spd_max_gust), for stations: 5490

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "67 / 323"
[1] "68 / 323 ..."
[1] "Station id: 5237"
[1] "68 / 323"
[1] "69 / 323 ..."
[1] "Station id: 5237"
[1] "69 / 323"
[1] "70 / 323 ..."
[1] "Station id: 5936"
[1] "70 / 323"
[1] "71 / 323 ..."
[1] "Station id: 5936"
[1] "71 / 323"
[1] "72 / 323 ..."
[1] "Station id: 5936"
[1] "72 / 323"
[1] "73 / 323 ..."
[1] "Station id: 5923"
[1] "73 / 323"
[1] "74 / 323 ..."
[1] "Station id: 5923"
[1] "74 / 323"
[1] "75 / 323 ..."
[1] "Station id: 5315"
[1] "75 / 323"
[1] "76 / 323 ..."
[1] "Station id: 5936"
[1] "76 / 323"
[1] "77 / 323 ..."
[1] "Station id: 5929"
[1] "77 / 323"
[1] "78 / 323 ..."
[1] "Station id: 5923"
[1] "78 / 323"
[1] "79 / 323 ..."
[1] "Station id: 5238"
[1] "79 / 323"
[1] "80 / 323 ..."
[1] "Station id: 5237"
[1] "80 / 323"
[1] "81 / 323 ..."
[1] "Station id: 5229"
[1] "81 / 323"
[1] "82 / 323 ..."
[1] "Station id: 5274"

There are no data for station 5274, in this time range (1965-01-01 to 1970-01-01), for this interval (day),
Available Station Data:
# A tibble: 2 x 14
  prov  station_name station_id climate_id WMO_id TC_id   lat   lon  elev tz
  <chr> <chr>             <int> <fct>       <int> <fct> <dbl> <dbl> <dbl> <chr>
1 QC    ST JACQUES         5274 7017380        NA NA     46.0 -73.6    69 Etc/…
2 QC    ST JACQUES         5274 7017380        NA NA     46.0 -73.6    69 Etc/…
# … with 4 more variables: interval <chr>, start <int>, end <int>,
#   normals <lgl>

[1] "82 / 323"
[1] "83 / 323 ..."
[1] "Station id: 5315"
[1] "83 / 323"
[1] "84 / 323 ..."
[1] "Station id: 5315"
[1] "84 / 323"
[1] "85 / 323 ..."
[1] "Station id: 5315"
[1] "85 / 323"
[1] "86 / 323 ..."
[1] "Station id: 5532"
[1] "86 / 323"
[1] "87 / 323 ..."
[1] "Station id: 5532"
[1] "87 / 323"
[1] "88 / 323 ..."
[1] "Station id: 5222"
[1] "88 / 323"
[1] "89 / 323 ..."
[1] "Station id: 5861"
[1] "89 / 323"
[1] "90 / 323 ..."
[1] "Station id: 5674"
[1] "90 / 323"
[1] "91 / 323 ..."
[1] "Station id: 5266"
[1] "91 / 323"
[1] "92 / 323 ..."
[1] "Station id: 5257"
[1] "92 / 323"
[1] "93 / 323 ..."
[1] "Station id: 5257"
[1] "93 / 323"
[1] "94 / 323 ..."
[1] "Station id: 5257"
[1] "94 / 323"
[1] "95 / 323 ..."
[1] "Station id: 5255"
[1] "95 / 323"
[1] "96 / 323 ..."
[1] "Station id: 5929"
[1] "96 / 323"
[1] "97 / 323 ..."
[1] "Station id: 5255"
[1] "97 / 323"
[1] "98 / 323 ..."
[1] "Station id: 5257"
[1] "98 / 323"
[1] "99 / 323 ..."
[1] "Station id: 5257"
[1] "99 / 323"
[1] "100 / 323 ..."
[1] "Station id: 5266"
[1] "100 / 323"
[1] "101 / 323 ..."
[1] "Station id: 5266"
[1] "101 / 323"
[1] "102 / 323 ..."
[1] "Station id: 5266"
[1] "102 / 323"
[1] "103 / 323 ..."
[1] "Station id: 8321"
[1] "103 / 323"
[1] "104 / 323 ..."
[1] "Station id: 8321"
[1] "104 / 323"
[1] "105 / 323 ..."
[1] "Station id: 5266"
[1] "105 / 323"
[1] "106 / 323 ..."
[1] "Station id: 5220"
[1] "106 / 323"
[1] "107 / 323 ..."
[1] "Station id: 5929"
[1] "107 / 323"
[1] "108 / 323 ..."
[1] "Station id: 5929"
[1] "108 / 323"
[1] "109 / 323 ..."
[1] "Station id: 5929"
[1] "109 / 323"
[1] "110 / 323 ..."
[1] "Station id: 8321"
[1] "110 / 323"
[1] "111 / 323 ..."
[1] "Station id: 8321"
[1] "111 / 323"
[1] "112 / 323 ..."
[1] "Station id: 5266"
[1] "112 / 323"
[1] "113 / 323 ..."
[1] "Station id: 5266"
[1] "113 / 323"
[1] "114 / 323 ..."
[1] "Station id: 5257"
[1] "114 / 323"
[1] "115 / 323 ..."
[1] "Station id: 5257"
[1] "115 / 323"
[1] "116 / 323 ..."
[1] "Station id: 5310"
[1] "116 / 323"
[1] "117 / 323 ..."
[1] "Station id: 5310"
[1] "117 / 323"
[1] "118 / 323 ..."
[1] "Station id: 5255"
[1] "118 / 323"
[1] "119 / 323 ..."
[1] "Station id: 5257"
[1] "119 / 323"
[1] "120 / 323 ..."
[1] "Station id: 5257"
[1] "120 / 323"
[1] "121 / 323 ..."
[1] "Station id: 5936"
[1] "121 / 323"
[1] "122 / 323 ..."
[1] "Station id: 5222"
[1] "122 / 323"
[1] "123 / 323 ..."
[1] "Station id: 5889"

Some variables have non-numeric values (spd_max_gust), for stations: 5889

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "123 / 323"
[1] "124 / 323 ..."
[1] "Station id: 5230"
[1] "124 / 323"
[1] "125 / 323 ..."
[1] "Station id: 5674"
[1] "125 / 323"
[1] "126 / 323 ..."
[1] "Station id: 5274"
[1] "126 / 323"
[1] "127 / 323 ..."
[1] "Station id: 5848"
[1] "127 / 323"
[1] "128 / 323 ..."
[1] "Station id: 5459"
[1] "128 / 323"
[1] "129 / 323 ..."
[1] "Station id: 5222"
[1] "129 / 323"
[1] "130 / 323 ..."
[1] "Station id: 5923"
[1] "130 / 323"
[1] "131 / 323 ..."
[1] "Station id: 5315"
[1] "131 / 323"
[1] "132 / 323 ..."
[1] "Station id: 5936"
[1] "132 / 323"
[1] "133 / 323 ..."
[1] "Station id: 5923"
[1] "133 / 323"
[1] "134 / 323 ..."
[1] "Station id: 5929"
[1] "134 / 323"
[1] "135 / 323 ..."
[1] "Station id: 5315"
[1] "135 / 323"
[1] "136 / 323 ..."
[1] "Station id: 5936"
[1] "136 / 323"
[1] "137 / 323 ..."
[1] "Station id: 5929"
[1] "137 / 323"
[1] "138 / 323 ..."
[1] "Station id: 5936"
[1] "138 / 323"
[1] "139 / 323 ..."
[1] "Station id: 5806"
[1] "139 / 323"
[1] "140 / 323 ..."
[1] "Station id: 5447"
[1] "140 / 323"
[1] "141 / 323 ..."
[1] "Station id: 5929"
[1] "141 / 323"
[1] "142 / 323 ..."
[1] "Station id: 5222"
[1] "142 / 323"
[1] "143 / 323 ..."
[1] "Station id: 5861"
[1] "143 / 323"
[1] "144 / 323 ..."
[1] "Station id: 5845"
[1] "144 / 323"
[1] "145 / 323 ..."
[1] "Station id: 5532"
[1] "145 / 323"
[1] "146 / 323 ..."
[1] "Station id: 5255"
[1] "146 / 323"
[1] "147 / 323 ..."
[1] "Station id: 5255"
[1] "147 / 323"
[1] "148 / 323 ..."
[1] "Station id: 5222"
[1] "148 / 323"
[1] "149 / 323 ..."
[1] "Station id: 5532"
[1] "149 / 323"
[1] "150 / 323 ..."
[1] "Station id: 5447"
[1] "150 / 323"
[1] "151 / 323 ..."
[1] "Station id: 5447"
[1] "151 / 323"
[1] "152 / 323 ..."
[1] "Station id: 5230"
[1] "152 / 323"
[1] "153 / 323 ..."
[1] "Station id: 5274"
[1] "153 / 323"
[1] "154 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "154 / 323"
[1] "155 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "155 / 323"
[1] "156 / 323 ..."
[1] "Station id: 5274"
[1] "156 / 323"
[1] "157 / 323 ..."
[1] "Station id: 5255"
[1] "157 / 323"
[1] "158 / 323 ..."
[1] "Station id: 5244"
[1] "158 / 323"
[1] "159 / 323 ..."
[1] "Station id: 5203"
[1] "159 / 323"
[1] "160 / 323 ..."
[1] "Station id: 5522"
[1] "160 / 323"
[1] "161 / 323 ..."
[1] "Station id: 5222"
[1] "161 / 323"
[1] "162 / 323 ..."
[1] "Station id: 5244"
[1] "162 / 323"
[1] "163 / 323 ..."
[1] "Station id: 5203"
[1] "163 / 323"
[1] "164 / 323 ..."
[1] "Station id: 5203"
[1] "164 / 323"
[1] "165 / 323 ..."
[1] "Station id: 5203"
[1] "165 / 323"
[1] "166 / 323 ..."
[1] "Station id: 5222"
[1] "166 / 323"
[1] "167 / 323 ..."
[1] "Station id: 5674"
[1] "167 / 323"
[1] "168 / 323 ..."
[1] "Station id: 5203"
[1] "168 / 323"
[1] "169 / 323 ..."
[1] "Station id: 10965"

There are no data for station 10965, in this time range (2000-01-01 to 2005-01-01), for this interval (day),
Available Station Data:
# A tibble: 2 x 14
  prov  station_name station_id climate_id WMO_id TC_id   lat   lon  elev tz
  <chr> <chr>             <int> <fct>       <int> <fct> <dbl> <dbl> <dbl> <chr>
1 QC    VALCARTIER        10965 7018572        NA WQG    46.9 -71.5  168. Etc/…
2 QC    VALCARTIER        10965 7018572        NA WQG    46.9 -71.5  168. Etc/…
# … with 4 more variables: interval <chr>, start <int>, end <int>,
#   normals <lgl>

[1] "169 / 323"
[1] "170 / 323 ..."
[1] "Station id: 5674"
[1] "170 / 323"
[1] "171 / 323 ..."
[1] "Station id: 5203"
[1] "171 / 323"
[1] "172 / 323 ..."
[1] "Station id: 5255"
[1] "172 / 323"
[1] "173 / 323 ..."
[1] "Station id: 5222"
[1] "173 / 323"
[1] "174 / 323 ..."
[1] "Station id: 8989"

Some variables have non-numeric values (spd_max_gust), for stations: 8989

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "174 / 323"
[1] "175 / 323 ..."
[1] "Station id: 5255"
[1] "175 / 323"
[1] "176 / 323 ..."
[1] "Station id: 8989"

Some variables have non-numeric values (spd_max_gust), for stations: 8989

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "176 / 323"
[1] "177 / 323 ..."
[1] "Station id: 8989"

Some variables have non-numeric values (spd_max_gust), for stations: 8989

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "177 / 323"
[1] "178 / 323 ..."
[1] "Station id: 8989"

Some variables have non-numeric values (spd_max_gust), for stations: 8989

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "178 / 323"
[1] "179 / 323 ..."
[1] "Station id: 5393"
[1] "179 / 323"
[1] "180 / 323 ..."
[1] "Station id: 5861"
[1] "180 / 323"
[1] "181 / 323 ..."
[1] "Station id: 5393"
[1] "181 / 323"
[1] "182 / 323 ..."
[1] "Station id: 5861"
[1] "182 / 323"
[1] "183 / 323 ..."
[1] "Station id: 5861"
[1] "183 / 323"
[1] "184 / 323 ..."
[1] "Station id: 5201"
[1] "184 / 323"
[1] "185 / 323 ..."
[1] "Station id: 5225"
[1] "185 / 323"
[1] "186 / 323 ..."
[1] "Station id: 10732"

Some variables have non-numeric values (spd_max_gust), for stations: 10732

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "186 / 323"
[1] "187 / 323 ..."
[1] "Station id: 5201"
[1] "187 / 323"
[1] "188 / 323 ..."
[1] "Station id: 5201"
[1] "188 / 323"
[1] "189 / 323 ..."
[1] "Station id: 27646"

Some variables have non-numeric values (spd_max_gust), for stations: 27646

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "189 / 323"
[1] "190 / 323 ..."
[1] "Station id: 5201"
[1] "190 / 323"
[1] "191 / 323 ..."
[1] "Station id: 5201"
[1] "191 / 323"
[1] "192 / 323 ..."
[1] "Station id: 5201"
[1] "192 / 323"
[1] "193 / 323 ..."
[1] "Station id: 5230"
[1] "193 / 323"
[1] "194 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "194 / 323"
[1] "195 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "195 / 323"
[1] "196 / 323 ..."
[1] "Station id: 5274"
[1] "196 / 323"
[1] "197 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "197 / 323"
[1] "198 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "198 / 323"
[1] "199 / 323 ..."
[1] "Station id: 5532"
[1] "199 / 323"
[1] "200 / 323 ..."
[1] "Station id: 5393"
[1] "200 / 323"
[1] "201 / 323 ..."
[1] "Station id: 5532"
[1] "201 / 323"
[1] "202 / 323 ..."
[1] "Station id: 5393"
[1] "202 / 323"
[1] "203 / 323 ..."
[1] "Station id: 5222"
[1] "203 / 323"
[1] "204 / 323 ..."
[1] "Station id: 5203"
[1] "204 / 323"
[1] "205 / 323 ..."
[1] "Station id: 5222"
[1] "205 / 323"
[1] "206 / 323 ..."
[1] "Station id: 5203"
[1] "206 / 323"
[1] "207 / 323 ..."
[1] "Station id: 5222"
[1] "207 / 323"
[1] "208 / 323 ..."
[1] "Station id: 8321"
[1] "208 / 323"
[1] "209 / 323 ..."
[1] "Station id: 5257"
[1] "209 / 323"
[1] "210 / 323 ..."
[1] "Station id: 5936"
[1] "210 / 323"
[1] "211 / 323 ..."
[1] "Station id: 5274"
[1] "211 / 323"
[1] "212 / 323 ..."
[1] "Station id: 5274"
[1] "212 / 323"
[1] "213 / 323 ..."
[1] "Station id: 5936"
[1] "213 / 323"
[1] "214 / 323 ..."
[1] "Station id: 5936"
[1] "214 / 323"
[1] "215 / 323 ..."
[1] "Station id: 5266"
[1] "215 / 323"
[1] "216 / 323 ..."
[1] "Station id: 5203"
[1] "216 / 323"
[1] "217 / 323 ..."
[1] "Station id: 5201"
[1] "217 / 323"
[1] "218 / 323 ..."
[1] "Station id: 5923"
[1] "218 / 323"
[1] "219 / 323 ..."
[1] "Station id: 5936"
[1] "219 / 323"
[1] "220 / 323 ..."
[1] "Station id: 26892"
[1] "220 / 323"
[1] "221 / 323 ..."
[1] "Station id: 26892"
[1] "221 / 323"
[1] "222 / 323 ..."
[1] "Station id: 5393"
[1] "222 / 323"
[1] "223 / 323 ..."
[1] "Station id: 5861"
[1] "223 / 323"
[1] "224 / 323 ..."
[1] "Station id: 5255"
[1] "224 / 323"
[1] "225 / 323 ..."
[1] "Station id: 26892"
[1] "225 / 323"
[1] "226 / 323 ..."
[1] "Station id: 5266"
[1] "226 / 323"
[1] "227 / 323 ..."
[1] "Station id: 8321"
[1] "227 / 323"
[1] "228 / 323 ..."
[1] "Station id: 8674"

Some variables have non-numeric values (spd_max_gust), for stations: 8674

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "228 / 323"
[1] "229 / 323 ..."
[1] "Station id: 5255"
[1] "229 / 323"
[1] "230 / 323 ..."
[1] "Station id: 26892"
[1] "230 / 323"
[1] "231 / 323 ..."
[1] "Station id: 5266"
[1] "231 / 323"
[1] "232 / 323 ..."
[1] "Station id: 5929"
[1] "232 / 323"
[1] "233 / 323 ..."
[1] "Station id: 5929"
[1] "233 / 323"
[1] "234 / 323 ..."
[1] "Station id: 5687"
[1] "234 / 323"
[1] "235 / 323 ..."
[1] "Station id: 5274"
[1] "235 / 323"
[1] "236 / 323 ..."
[1] "Station id: 5274"
[1] "236 / 323"
[1] "237 / 323 ..."
[1] "Station id: 5274"
[1] "237 / 323"
[1] "238 / 323 ..."
[1] "Station id: 5237"
[1] "238 / 323"
[1] "239 / 323 ..."
[1] "Station id: 5225"
[1] "239 / 323"
[1] "240 / 323 ..."
[1] "Station id: 5266"
[1] "240 / 323"
[1] "241 / 323 ..."
[1] "Station id: 5255"
[1] "241 / 323"
[1] "242 / 323 ..."
[1] "Station id: 5266"
[1] "242 / 323"
[1] "243 / 323 ..."
[1] "Station id: 5266"
[1] "243 / 323"
[1] "244 / 323 ..."
[1] "Station id: 5266"
[1] "244 / 323"
[1] "245 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "245 / 323"
[1] "246 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "246 / 323"
[1] "247 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "247 / 323"
[1] "248 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "248 / 323"
[1] "249 / 323 ..."
[1] "Station id: 5255"
[1] "249 / 323"
[1] "250 / 323 ..."
[1] "Station id: 5687"
[1] "250 / 323"
[1] "251 / 323 ..."
[1] "Station id: 5929"
[1] "251 / 323"
[1] "252 / 323 ..."
[1] "Station id: 5929"
[1] "252 / 323"
[1] "253 / 323 ..."
[1] "Station id: 5929"
[1] "253 / 323"
[1] "254 / 323 ..."
[1] "Station id: 5255"
[1] "254 / 323"
[1] "255 / 323 ..."
[1] "Station id: 5255"
[1] "255 / 323"
[1] "256 / 323 ..."
[1] "Station id: 5257"
[1] "256 / 323"
[1] "257 / 323 ..."
[1] "Station id: 5220"
[1] "257 / 323"
[1] "258 / 323 ..."
[1] "Station id: 5220"
[1] "258 / 323"
[1] "259 / 323 ..."
[1] "Station id: 5220"
[1] "259 / 323"
[1] "260 / 323 ..."
[1] "Station id: 5220"
[1] "260 / 323"
[1] "261 / 323 ..."
[1] "Station id: 5220"
[1] "261 / 323"
[1] "262 / 323 ..."
[1] "Station id: 26892"
[1] "262 / 323"
[1] "263 / 323 ..."
[1] "Station id: 5254"
[1] "263 / 323"
[1] "264 / 323 ..."
[1] "Station id: 5861"
[1] "264 / 323"
[1] "265 / 323 ..."
[1] "Station id: 26892"
[1] "265 / 323"
[1] "266 / 323 ..."
[1] "Station id: 5257"
[1] "266 / 323"
[1] "267 / 323 ..."
[1] "Station id: 5257"
[1] "267 / 323"
[1] "268 / 323 ..."
[1] "Station id: 5203"
[1] "268 / 323"
[1] "269 / 323 ..."
[1] "Station id: 5203"
[1] "269 / 323"
[1] "270 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "270 / 323"
[1] "271 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "271 / 323"
[1] "272 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "272 / 323"
[1] "273 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "273 / 323"
[1] "274 / 323 ..."
[1] "Station id: 8674"

Some variables have non-numeric values (spd_max_gust), for stations: 8674

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "274 / 323"
[1] "275 / 323 ..."
[1] "Station id: 5929"
[1] "275 / 323"
[1] "276 / 323 ..."
[1] "Station id: 5929"
[1] "276 / 323"
[1] "277 / 323 ..."
[1] "Station id: 5929"
[1] "277 / 323"
[1] "278 / 323 ..."
[1] "Station id: 5929"
[1] "278 / 323"
[1] "279 / 323 ..."
[1] "Station id: 5274"
[1] "279 / 323"
[1] "280 / 323 ..."
[1] "Station id: 5532"
[1] "280 / 323"
[1] "281 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "281 / 323"
[1] "282 / 323 ..."
[1] "Station id: 5532"
[1] "282 / 323"
[1] "283 / 323 ..."
[1] "Station id: 5936"
[1] "283 / 323"
[1] "284 / 323 ..."
[1] "Station id: 5936"
[1] "284 / 323"
[1] "285 / 323 ..."
[1] "Station id: 5936"
[1] "285 / 323"
[1] "286 / 323 ..."
[1] "Station id: 8321"
[1] "286 / 323"
[1] "287 / 323 ..."
[1] "Station id: 8321"
[1] "287 / 323"
[1] "288 / 323 ..."
[1] "Station id: 8321"
[1] "288 / 323"
[1] "289 / 323 ..."
[1] "Station id: 5522"
[1] "289 / 323"
[1] "290 / 323 ..."
[1] "Station id: 5522"
[1] "290 / 323"
[1] "291 / 323 ..."
[1] "Station id: 5522"
[1] "291 / 323"
[1] "292 / 323 ..."
[1] "Station id: 5201"
[1] "292 / 323"
[1] "293 / 323 ..."
[1] "Station id: 5201"
[1] "293 / 323"
[1] "294 / 323 ..."
[1] "Station id: 5201"
[1] "294 / 323"
[1] "295 / 323 ..."
[1] "Station id: 5201"
[1] "295 / 323"
[1] "296 / 323 ..."
[1] "Station id: 5201"
[1] "296 / 323"
[1] "297 / 323 ..."
[1] "Station id: 5266"
[1] "297 / 323"
[1] "298 / 323 ..."
[1] "Station id: 5255"
[1] "298 / 323"
[1] "299 / 323 ..."
[1] "Station id: 5255"
[1] "299 / 323"
[1] "300 / 323 ..."
[1] "Station id: 5619"
[1] "300 / 323"
[1] "301 / 323 ..."
[1] "Station id: 5619"
[1] "301 / 323"
[1] "302 / 323 ..."
[1] "Station id: 5619"
[1] "302 / 323"
[1] "303 / 323 ..."
[1] "Station id: 5257"
[1] "303 / 323"
[1] "304 / 323 ..."
[1] "Station id: 5255"
[1] "304 / 323"
[1] "305 / 323 ..."
[1] "Station id: 5203"
[1] "305 / 323"
[1] "306 / 323 ..."
[1] "Station id: 5619"
[1] "306 / 323"
[1] "307 / 323 ..."
[1] "Station id: 8321"

Some variables have non-numeric values (spd_max_gust), for stations: 8321

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "307 / 323"
[1] "308 / 323 ..."
[1] "Station id: 5266"
[1] "308 / 323"
[1] "309 / 323 ..."
[1] "Station id: 5393"
[1] "309 / 323"
[1] "310 / 323 ..."
[1] "Station id: 5929"
[1] "310 / 323"
[1] "311 / 323 ..."
[1] "Station id: 5929"
[1] "311 / 323"
[1] "312 / 323 ..."
[1] "Station id: 8989"

Some variables have non-numeric values (spd_max_gust), for stations: 8989

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "312 / 323"
[1] "313 / 323 ..."
[1] "Station id: 10762"

Some variables have non-numeric values (spd_max_gust), for stations: 10762

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "313 / 323"
[1] "314 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "314 / 323"
[1] "315 / 323 ..."
[1] "Station id: 10843"

Some variables have non-numeric values (spd_max_gust), for stations: 10843

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "315 / 323"
[1] "316 / 323 ..."
[1] "Station id: 5522"
[1] "316 / 323"
[1] "317 / 323 ..."
[1] "Station id: 5522"
[1] "317 / 323"
[1] "318 / 323 ..."
[1] "Station id: 10843"

Some variables have non-numeric values (spd_max_gust), for stations: 10843

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "318 / 323"
[1] "319 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "319 / 323"
[1] "320 / 323 ..."
[1] "Station id: 10843"

Some variables have non-numeric values (spd_max_gust), for stations: 10843

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "320 / 323"
[1] "321 / 323 ..."
[1] "Station id: 5522"
[1] "321 / 323"
[1] "322 / 323 ..."
[1] "Station id: 5237"

Some variables have non-numeric values (spd_max_gust), for stations: 5237

  Replaced all non-numeric entries with NA. Use 'string_as = NULL' to keep as characters (see ?weather_dl).

[1] "322 / 323"
[1] "323 / 323 ..."
[1] "Station id: 5532"
[1] "323 / 323"

Compute indexes for each station

In [15]:
# Initialize columns to record indexes
data_stations$temp_moy_5years <- NA
data_stations$prec_tot_5years <- NA
data_stations$sdi_5years <- NA
data_stations$gdd_5years <- NA

for (i in 1:nrow(data_stations)) {
  starts <- data_stations$DatePlantation[i] - (year_step:1)*365.25 # beginings of seasons
  ends <- data_stations$DateRecolte[i] - (year_step:1)*365.25 # ends of seasons, for previous years
  # Create vectors to record indices from previous years
  temp_moy_j <- rep(NA, length(starts))
  prectot_j <- temp_moy_j
  sdi_j <- temp_moy_j
  gdd_j <- temp_moy_j
  for (j in 1:length(starts)) {
    # Filter the downloaded weather data tables to keep only data measured between the season dates
    season <- station_weather[[i]] %>%
      filter(date >= starts[j]) %>%
      filter(date <= ends[j])
    temp_moy_j[j] <- mean(season$mean_temp, na.rm = TRUE) # average temperature of the season
    prectot_j[j] <- sum(season$total_precip, na.rm = TRUE) # total precipitations of the season
    sdi_j[j] <- SDI_f(season$total_precip) # season SDI
    gdd_j[j] <- GDD_f(season$mean_temp, delim = 5) # season GDD
  }
  data_stations$temp_moy_5years[i] <- mean(temp_moy_j, na.rm = TRUE) # average temperature
  data_stations$prec_tot_5years[i] <- mean(prectot_j, na.rm = TRUE) # average total rainfalls
  data_stations$sdi_5years[i] <- mean(sdi_j, na.rm = TRUE) # average SDI
  data_stations$gdd_5years[i] <- mean(gdd_j, na.rm = TRUE) # average GDD
}

Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."Warning message in mean.default(season$mean_temp, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'total_precip'."Warning message:
"Unknown or uninitialised column: 'mean_temp'."

In [16]:
write_csv(x = data_stations, path = "output/weather_stations.csv") # a backup

If you've loaded the `weather_stations.csv`, continue from here.

Insert into the main table

In [6]:
weath_col <- c(
            'Annee', 'LatDD', 'LonDD', 'DatePlantation', 'DateRecolte', 
            'temp_moy_5years', 'prec_tot_5years', 'sdi_5years', 'gdd_5years'
            )

In [7]:
data.frame(weath_col, weath_col %in% colnames(data_df))

  weath_col       weath_col..in..colnames.data_df.
1 Annee            TRUE
2 LatDD            TRUE
3 LonDD            TRUE
4 DatePlantation   TRUE
5 DateRecolte      TRUE
6 temp_moy_5years FALSE
7 prec_tot_5years FALSE
8 sdi_5years      FALSE
9 gdd_5years      FALSE

In [8]:
data_df <- left_join(data_df, data_stations[weath_col], 
                     by = c("Annee", "LatDD", "LonDD", "DatePlantation", "DateRecolte"))

In [9]:
wcol <- c('temp_moy_5years', 'prec_tot_5years', 'sdi_5years', 'gdd_5years')
data.frame(wcol, wcol %in% colnames(data_df))

  wcol            wcol..in..colnames.data_df.
1 temp_moy_5years TRUE
2 prec_tot_5years TRUE
3 sdi_5years      TRUE
4 gdd_5years      TRUE

In [10]:
write_csv(data_df, "output/pr_potato_df.csv") # backup